<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, admin-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

<div class="content">
    <form class="vh-100" style="background-color: #508bfc;" th:action="@{/do-login}" method="post">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-4 text-center">
                            <h3 class="mb-4">Đăng nhập</h3>
                            <div th:if = "${success}" class="text-center alert alert-success" id="success">
                                <p th:text="${success}"></p>
                            </div>
                            <div th:if="${param.error}" class="alert alert-danger text-center">
                                Tài khoản hoặc mật khẩu không chính xác!
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success text-center" id="logout">
                                Đăng xuất thành công!
                            </div>
                            <div class="form-outline mb-2">
<!--                                <label class="form-label" for="typeEmailX-2">Email</label>-->
                                <input type="email" id="typeEmailX-2" name="username" class="form-control form-control-lg" placeholder="Email"/>
                            </div>

                            <div class="form-outline mb-2">
<!--                                <label class="form-label" for="typePasswordX-2">Password</label>-->
                                <input type="password" id="typePasswordX-2" name="password" class="form-control form-control-lg" placeholder="Password"/>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block mb-1" type="submit">Đăng nhập</button>

                            <div class="text-center fs-6">
                                <a href="#" th:href="@{/forgot-password}">Forget password?</a> or <a href="#" th:href="@{/register}">Đăng ký</a>
                            </div>

<!--                            <hr class="my-4">-->
<!--                            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"-->
<!--                                    type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>-->
<!--                            <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"-->
<!--                                    type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragmentShop :: script"></div>
<script>
    setTimeout(function(){
        var successMessage = document.getElementById('success');
        if(successMessage){
            successMessage.style.display = 'none';
        }
        var failedMessage = document.getElementById('failed');
        if(failedMessage){
            failedMessage.style.display = 'none';
        }
        var logoutMessage = document.getElementById('logout');
        if(logoutMessage){
            logoutMessage.style.display = 'none';
        }
    }, 1500);
</script>
</body>
</html>